* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #779ecb;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #779ecb;
}

button:focus {
    outline: none;
}

.accordion {
    margin-bottom: 15px;
}

.accordion-btn {
    width: 100%;
    padding: 10px;
    background-color: #779ecb;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
}

.accordion-btn:hover {
    background-color: #779ecb;
}

.accordion-content {
    display: none;
    margin-top: 10px;
    padding-top: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.accordion-content label {
    display: block;
    margin: px 0 5px 20px;
}

.accordion-btn span {
    font-weight: bold;
}

input[type="checkbox" i] {  
    position: relative;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    max-width: 5%;
    margin: 3px 3px 3px px;
    padding: initial;
    border: initial;
}

.search-section {
    margin-top: 40px;
    margin-bottom: 30px;
    align-items: center;
}

.search-section input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-section button {
    padding: 10px 20px;
    background-color: #779ecb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-section button:hover {
    background-color: #779ecb;
}

/* Tabela de alunos */
.students-list {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #779ecb;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

table button:hover {
    background-color: #e53935;
}


@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
